<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <style>
      {{{ style_custom_css }}}    
    </style>
  </head>
  <body style={{{body_style}}}>
    {{#if body_custom_html  }}
      {{{ body_custom_html }}}
    {{else}}
      {{{ section_content }}}
    {{/if}}
  </body>
</html>